<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.central.projeto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_iconegeral"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_susicone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Saúde em familia"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Calendario" />
        <activity android:name=".injecaoclass" />
        <activity
            android:name=".injecaoActivity"
            android:label="@string/title_activity_injecao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".injecao" />
        <activity android:name=".Medico" />
        <activity android:name=".vacinasanimal" />
        <activity android:name=".localizacao"></activity>
    </application>

</manifest>